* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Navbar CSS */
.custom-toggler {
  background-color: white;
  border: 1px solid white;
}
.navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.navbar-nav .nav-link:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}
.navbar-toggler {
  z-index: 1001;
}
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
}
#navbar::before {
  background-color: black;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.5;
}

/* main CSS*/
.bg-responsive {
  height: 56vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0px;
}
.content {
  z-index: 1;
}
#main::before {
  background: url("assets/contact.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50vh;
  content: "";
  opacity: 1;
  z-index: -1;
}
#h1 {
  font-size: 60px;
  font-weight: 800;
  animation: heading 3s ease-in-out forwards;
}
@keyframes heading {
  0% {
    opacity: 0;
    transform: translateY(-220px);
  }
  100% {
    opacity: 1;
  }
}
#footer {
  background-color: black;
  height: 80px;
  width: 100%;
  opacity: 0.9;
}
.custom {
  width: 60%;
  position: relative;
  left: 90px;
  top: -20px;
}
.label {
  font-weight: 700;
  font-size: 25px;
  position: relative;
  top: 20px;
  color: white;
}
.done {
  margin-left: 35%;
  background-color: white;
  color: red;
  border: 1px solid red;
  transition: transform 0.8s;
}
.done:hover {
  color: white;
  background-color: red;
  transform: scale(1.2);
}
#msg {
  margin-left: 25px;
}
.parallax {
  background-image: url("assets/bg.jpg");
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form {
  margin-left: 10px;
}

.popup {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.pop {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  height: 40vh;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popbtn {
  background-color: white;
  color: red;
  border: 1px solid red;
  font-weight: 500;
  transition: transform 0.8s;
}

.popbtn:hover {
  color: white;
  background-color: red;
  transform: scale(1.2);
}
